.stuffCard__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

.stuffCard__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 10px 0;
}

.stuffCard__description {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 10px 0;
}

.stuffCard__price {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 10px 0;
}

.stuffCard__button {
  width: 100%;
  margin-top: 10px;
}
