.sideMenu__container {
    background-color: #fff;
    z-index: 100;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.sideMenu__container--open {
    transform: translateX(0);
}

.sideMenu__container--close {
    transform: translateX(-100%);
}

.sideMenu__menu {
    height: 90%;
    overflow-y: auto;
}

.sideMenu__menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sideMenu__menu ul li {
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.sideMenu__menu ul li:hover {
    background-color: #ccc;
}

.sideMenu__menu ul li:active {
    background-color: #aaa;
}
