.btn {
    position: absolute !important;
    z-index: 2 !important;
    border-radius: 50% !important;
    right: 1rem !important;
    bottom: 0 !important;
    transform: translateY(50%) !important;
}